article{
  min-width: 320px;
  max-width: 810px;
  margin: auto;
  position: relative;
}

/* class du catalogue */
.rechercheBar{
  height: 80px;
  width: 100%
  position: absolute;

}
.articleBox{
  min-height: 100px;
  width: 100%;
  background-color: #eee;
  border-radius: 8px;
  box-shadow: inset 1px 0 5px 0 rgba(0,0,0,0.2);
  position: relative;
  padding: 8px;
}
.articleElm{
  width: 250px;
  height: 270px;
  background-color: blue;
  position: relative;
  display: inline-block;
  margin: 8px;
}
