/* class du catalogue */
.articleBox{
  background-color: #eee;
}
.articleElm{
  width: 250px;
  /*height: 305px;*/
  height: 288px;
  position: relative;
  display: inline-block;
  margin: 8px;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 1px 0 5px 0 rgba(0,0,0,0.2);
}
.imgBox{
  width: 250px;
  height: 200px;
  position: relative;
}
.imgBox img{
  max-width: 250px;
  max-height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.articleNom{
  height: 40px;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  color: black;
  margin: 4px;
  text-overflow: ellipsis;
}
.articlePrix{
  float: right;
  max-width: 68px;
  min-width: 2px;
  overflow: hidden;
  height: 35px;
  padding: 4px 12px;
  font-size: 18px;
  color: red;
  margin: 4px 0px;
}

/*stars*/
:root{
  --starsize: 300px;
}
.stars0{
  background: url(../img/stars.png) -150px 0px;
  background-size: var(--starsize);
  background-repeat: no-repeat;
}
.stars0_5{
  background: url(../img/stars.png) -121px -30px;
  background-size: var(--starsize);
  background-repeat: no-repeat;
}
.stars1{
  background: url(../img/stars.png) -120px 0px;
  background-size: var(--starsize);
  background-repeat: no-repeat;
}
.stars1_5{
  background: url(../img/stars.png) -91px -30px;
  background-size: var(--starsize);
  background-repeat: no-repeat;
}
.stars2{
  background: url(../img/stars.png) -90px 0px;
  background-size: var(--starsize);
  background-repeat: no-repeat;
}
.stars2_5{
  background: url(../img/stars.png) -61px -30px;
  background-size: var(--starsize);
  background-repeat: no-repeat;
}
.stars3{
  background: url(../img/stars.png) -60px 0px;
  background-size: var(--starsize);
  background-repeat: no-repeat;
}
.stars3_5{
  background: url(../img/stars.png) -31px -30px;
  background-size: var(--starsize);
  background-repeat: no-repeat;
}
.stars4{
  background: url(../img/stars.png) -30px 0px;
  background-size: var(--starsize);
  background-repeat: no-repeat;
}
.stars4_5{
  background: url(../img/stars.png) 1px -30px;
  background-size: var(--starsize);
  background-repeat: no-repeat;
}
.stars5{
  background: url(../img/stars.png) 0px 0px;
  background-size: var(--starsize);
  background-repeat: no-repeat;
}


/*left panel*/
.range{
  height: 100px;
  width: 200px;
}

.rectangle{
  position: relative;
}

.rectangle a{
  display: block;
  text-decoration: none;
  margin: 4px 0px;
}

.rectangle a:hover{
  box-shadow: 1px 0 5px 0 rgba(0,0,0,0.2);
}

.stars{
  height: 28px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}

.etplus{
  display: inline-block;
  vertical-align: middle;
}
