.textarea-avis{
	height: 80px;
	background-color: #fff;
	resize: none;
}

.button-avis{
	height: 30px;
	background-color: #282828;
	border: none;
	color: #fff;
	font-family: arial;
	font-weight: 400;
	cursor: pointer; /*chose cliquable change apparence pointeur*/
}

.comment-box{
	padding: 20px;
	margin: 8px;
	border-radius: 4px;
	font-family: arial;
	font-size: 14px;
	line-height: 16px;
	color: #282828;
	font-weight: 100;
	box-shadow: 1px 0 5px 0 rgba(0,0,0,0.2);
}

.delete-form{
	position: absolute;
	top: 20px;
	right: 20px;
}

.delete-form button{
	height: 20px;
	background-color: #282828;
	border: none;
	color: #fff;
	font-family: arial;
	font-weight: 400;
	cursor: pointer; /*chose cliquable change apparence pointeur*/
	margin-bottom: 60px;
	opacity: 0.7;
}

.delete-form button:hover{
	opacity: 1;
}
